[Unit]
Description=Majordomo Radio Service
After=network.target

[Service]
ExecStart=/opt/majordomo/majordomo.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

